<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>id</key>
            <integer>0</integer>
            <key>fName</key>
            <string>Samantha</string>
            <key>lName</key>
            <string>Smith</string>
            <key>cellNum</key>
            <string>210-933-3209</string>
            <key>email</key>
            <string>ss@gmail.com</string>
            <key>address</key>
            <string>344 Wall Street</string>
            <key>animal0</key>
            <dict>
                <key>id</key>
                <integer>0</integer>
                <key>name</key>
                <string>Luna</string>
                <key>sex</key>
                <string>female</string>
                <key>social</key>
                <true/>
                <key>breed</key>
                <string>german shepard</string>
                <key>reservation</key>
                <dict>
                    <key>id</key>
                    <integer>0</integer>
                    <key>dateIn</key>
                    <date>2017-01-16T20:29:58Z</date>
                    <key>dateOut</key>
                    <date>2017-01-17T20:30:10Z</date>
                    <key>checkedin</key>
                    <true/>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <integer>1</integer>
            <key>fName</key>
            <string>Mark</string>
            <key>lName</key>
            <string>Clark</string>
            <key>cellNum</key>
            <string>210-933-3209</string>
            <key>email</key>
            <string>mc@gmail.com</string>
            <key>address</key>
            <string>123 Wall Street</string>
            <key>animal1</key>
            <dict>
                <key>id</key>
                <string>1</string>
                <key>name</key>
                <string>Gus</string>
                <key>sex</key>
                <string>male</string>
                <key>social</key>
                <false/>
                <key>breed</key>
                <string>husky</string>
                <key>reservation</key>
                <dict>
                    <key>id</key>
                    <integer>1</integer>
                    <key>dateIn</key>
                    <date>2017-01-16T20:32:29Z</date>
                    <key>dateOut</key>
                    <date>2017-01-18T20:32:37Z</date>
                    <key>checkedIn</key>
                    <false/>
                </dict>
            </dict>
        </dict>
    </array>
</plist>
